<div class="footer">
    <span>Recorded by <a target="_blank" href="https://vicuxd.com">Vic</a></span>
</div>

<%- css('css/atom-one-dark.css') %>
<%- js('js/highlight.min.js') %>

<script>
    hljs.initHighlightingOnLoad();
</script>
